:root{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 2.8fr 9.5fr;
    margin-top: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* LEFT PART */

.left{
    background-color: #ededed;
}

/* name section */

.name{
    padding: 2rem;
    border-radius: 50%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #474747;
    color: White;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    border-bottom: 1rem inset yellow;
}

/* personal */

.personal{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 0.75rem;
}

.p-row{
    padding-left: 1rem;
    padding-right: 1rem;
}

.label{
    font-weight: bold;
}

.content{
    display: block;
}

.interests{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 0.75rem;
}

.languages{
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    gap: 0.3rem
}

.language {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.language-title{
    font-weight: bold;
}

.language-scale{
    display: flex;
    gap: 7px;
    width: 200px;
    justify-content: flex-end;
}


.circle{
    background-color: rgb(83, 29, 29);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.circle-white{
    background-color: rgb(214, 182, 182);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

/* RIGHT PART */


.right{
   padding: 1rem;
}


/* job */

.job-container {
    display: flex;
    justify-content: space-between;
}


.job-title {
    font-weight: bold;
}

.job-location {
    font-style: oblique;
}

.job-date {
    font-weight: 500;
}

/* education */

.education-container {
    display: flex;
    justify-content: space-between;
}


.education-title {
    font-weight: bold;
}

.education-location {
    font-style: oblique;
}

.education-date {
    font-weight: 500;
}


/* references */

.references {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.reference-container {
    display: flex;
    justify-content: space-between;
}

.reference-name {
    font-weight: bold;
}

.reference-phone {
    font-style: oblique;
}

.reference-email {
    font-style: oblique;
}

.reference-location {
    width: 30%;

}

.reference-loc {
    font-weight: 500;
}


/* Skills */



.skills{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 50%;
}

.skill {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 0;
}

.skill-title{
    font-weight: 500;
    font-size: 1rem;
}

.skill-scale{
    display: flex;
    gap: 7px;
    width: 200px;
    justify-content: flex-end;
}

/* projects */

.projects {
    display: flex;
    flex-direction: column;
}
.projects-container {
    margin-bottom: 1.7rem;
}

.projects-details {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.projects-name {
    font-weight: bold;
}

.projects-link {
    font-style: oblique;
}
